@using Domain.Extensions
@model IEnumerable<Web.Models.Users.UserDto>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>@ViewBag.Title</h2>

<h4>@TempData["Message"]</h4>
<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Login)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Role)
    </th>
    <th></th>
</tr>

@foreach (var userDto in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => userDto.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => userDto.Login)
        </td>
        <td>
            @userDto.Role.GetDisplay()
        </td>
        <td>
            @Html.ActionLink("Сброс пароля", "DropPassword", new {id = userDto.Id}) |
            
            @if (userDto.Blocked)
            {
                @Html.ActionLink("Разблокировать", "Unblock", new { id = userDto.Id })
            }
            else
            {
                @Html.ActionLink("Заблокировать", "Block", new {id = userDto.Id})
            }
        </td>
    </tr>
}

</table>


