@using Web.Models.Common
@model Web.Models.Requests.RequestListDto

@{
    ViewBag.Title = "Заявки";
}

<h2>Заявки</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<div>
    @using (Html.BeginForm(new {page = 1}))
    {
        <label>Наименование категории</label>
        <p>@Html.TextBox("categoryFilter", Model.CategoryFilter)</p>

        <button type="submit">Отфильтровать</button>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestListItems.First().CustemerFio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestListItems.First().CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RequestListItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustemerFio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
    }

</table>

<!--todo: move to helper-->
@{
    var totalPages = Math.Ceiling((double)Model.PagesInfo.TotalRowsCount / PagesInfo.DefaultPageSize);
}

<div class ="page-links">
    @for (int i = 1; i <= totalPages; i++)
    {
        @Html.ActionLink(i.ToString(), "ViewAll", 
       new
       {
           page = i,
           categoryFilter = Model.CategoryFilter
       }, new
        {
            @class = i == Model.PagesInfo.CurrentPage ? "selected" : null
        })
    }
</div>