@using Web.Models.Common
@model Web.Models.Requests.RequestListDto

@{
    ViewBag.Title = "Заявки";
}

<h2>Заявки</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<div>
    @using (Html.BeginForm(new {page = 1}))
    {

        <!--todo: move to helper-->
        <label>Наименование категории</label>
        string value;
        Model.UserLoadParams.FilterParams.TryGetValue("filter.CategoryName", out value);
        <p>@Html.TextBox("filter.CategoryName", value)</p>

        <button type="submit">Отфильтровать</button>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestListItems.First().CustemerFio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestListItems.First().CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RequestListItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustemerFio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
    }

</table>

<!--todo: move to helper-->
@{
    var totalPages = Math.Ceiling((double)Model.PagesInfo.TotalRowsCount / PagesInfo.DefaultPageSize);
}

<div class ="page-links">
    @for (int i = 1; i <= totalPages; i++)
    {
        using (Html.BeginForm())
        {
            <input hidden="true" name="page" value="@i"/>
            foreach (var filterParam in Model.UserLoadParams.FilterParams)
            {
                <input hidden="true" name="@filterParam.Key" value="@filterParam.Value"/>
            }

            var cls = i == Model.PagesInfo.CurrentPage ? "selected" : null;
            <button class="@cls" type="submit">@i</button>
        }
    }
</div>