<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Незабудка - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div >
                @Html.ActionLink("Call center Незабудка", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @{ Html.RenderAction("GetLogInOutLink", "UserUI");}
            </div>
            <div>
                @{ Html.RenderAction("GetPanel", "UserUI");}
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
        @RenderBody()
            </div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Call center Незабудка</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
